* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

h1 {
	text-align: center;
	background-color: rgb(14, 66, 100);
	padding: 2.5rem;
    font-size: 1.5rem;
	color: #fff;
}

nav {
	margin: auto;
    max-width: 100vw;
}

nav ul {
	display: flex;
	align-content: center;
}

nav ul li {
	list-style: none;
	flex: 1 1 auto;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(21, 100, 153);
	align-items: center;
    padding: 0.7rem;
}
.navigation li {
	flex: 1 1 auto; 
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
    font-weight: 500;
}

.navigation a:hover {
	font-weight: 750;
	text-decoration: underline;
	text-decoration-color: rgb(87, 160, 255);
}

main {
	max-width: 90%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 0.5rem;
	margin: 1rem;
	
}

.card {
	display: grid;
	margin: 1rem;
	border: 1px solid #ccc;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	align-content:flex-start;
}

.card h2 {
	background-color: rgb(14, 66, 100);
	font-weight: 600;
	border-radius: 10px 10px 0 0;
	color: #fff;
	padding: 1rem;
}


#profilepic {
	display: absoulte;
	width:20%;
	margin: 2rem;
	float: right;
		
}

#brflag {
	display: absoulte;
	width:25%;
	margin: 2rem;
	float: left;
}

.card p {
	margin: 1rem;
	padding: 40px 20px	40px 20px;
}

.city {
	display: block;
	text-align: left;
	padding-right: 200px;
}

.city h2 {
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(14, 66, 100);
	
}

.city caption {
	padding-left: 10px;
}
.card a {
	
	text-decoration: none;
	border-radius: 5px;
	font-weight: 700;
	font-size: x-large;
	vertical-align: middle;
}

.flagcaption {
	display: block;
	text-align: left;
	font-size: 1.5rem;
	font-weight: 700;
}

.resources {
	list-style-type: none;
	text-align: left;
	padding-top: 30px;
	padding-left: 150px;
	line-height: 2.5rem;
	color: rgb(14, 66, 100);
}

footer {
    background-color: rgb(14, 66, 100);
	padding: 2rem;
    font-size: 0.9rem;
	color: #fff;
	text-align: center;
}