/* Basic styles */
* {
    font-family: "Roboto", sans-serif;
}

#menu {
    display:block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: rgb(0, 0, 62);
    color: aliceblue;
}

#menu::before {
    content: "|||";
}

nav {
    background-color: rgba(11, 35, 6, 0.601);
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 500px;
}

.navigation li {
    display: none;
}

.navigation a{
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    color: #9de4a3;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, .navigation a:active {
    color: white;
    background-color: rgb(0, 0, 0);
}

.show li {
    display: block;
}

#menu.show::before {
    content:"X";
}

header, main, footer {
    max-width: 640px;
     
}

header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #000000; 
   
    align-items: center;
    margin: 0;
    text-align: center;
    
}

header h1 {
    color: rgb(255, 255, 0);
    margin: 0;
    padding: 1rem;
}

main h2 {
    text-align: center;
}

/* nav {
    display: grid;
    grid-template-rows:auto;
    background-color: rgb(22, 41, 27);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
} */

/* nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0.5 1rem;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color: yellow;
} */

/* Main content styles */
main {
    display: grid;
    background-color: #eaeaea;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

main .pictures {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

main .pictures figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

main .pictures figcaption {
    text-align: center;
    margin-top: 0.5rem;
}

main .pictures img {
    width: 100%; 
    height: auto; /* Maintain aspect ratio */
    border-radius: 0.5rem; /* Optional: add rounded corners */
}

footer {
    text-align: center;
    color: white;
    background-color: #051206; /* Match the background color */
    padding: 1rem;
}