@media screen and (min-width: 500px) {
  
  header {
      background-color: rgb(4, 28, 11);
      color: white;
      align-items: center;
  }

nav ul {
    list-style: none;
    display: flex;
    justify-content: even;
}
main .pictures {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 1rem;
}
}